extends ../layout/index

block contenido

    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices 
        h2.text-center.text-2xl.font-extrabold= pagina

    div(class="bg-white shadow py-4 px-8 rounded-lg max-w-md mx-auto")
        p(class= error ? "bg-indigo-600":"bg-lime-950").py-2.px-5.w-full.rounded-lg.font-bold.text-center.text-black.uppercase=mensaje

            if !error
                a(href="/auth/login" class=" text-center font-bold text-sm text-slate-600 uppercase mt-10 block") Ya puedes iniciar sesión