doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Bienes Raices | #{pagina}
        link(rel="stylesheet" href="/css/app.css")
        block styles
    body.min-h-screem.bg-gray-50  
        include header
        main(class="max-auto container mt-10 px-2 ")
            block contenido

        block script 